@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
}
.header {
    height:1%;
    width:100%;
    background:linear-gradient(#932121, #ff1b1c);
    position:static;
}
body {
    animation: 1s ease-out 0s 1 fadein;
    padding:0px;
    margin:0px;
    background-color:#262626;
}
button {
    width:17ch;
    height:5ch;
    border-radius:20px;
    background-color:#ff1b1c;
    border:none;
    box-shadow: 10px 10px 0px #5d2424;
    font-size:large;
    margin-right:2ch;
    margin-bottom:2ch;
}
a {
    text-decoration:none;
    color:unset;
}
.buttons {
    text-align: center;
}
button:hover {
    animation: push 0.15s linear alternate;
    box-shadow: 5px 5px 0px #5d2424;
    transform: translate(5px, 5px);
}
.buttons {
    width:100%;
}
@keyframes push {
    0% {
        box-shadow: 10px 10px 0px #5d2424;
        transform: translate(0px, 0px);
    }
    90% {
        box-shadow: 3px 3px 0px #5d2424;
        transform: translate(7px, 7px);
    }
    100% {
        box-shadow: 5px 5px 0px #5d2424;
        transform: translate(5px, 5px);
    }
  }
@media (max-width: 500px) {
    .text {
        text-align:center;
    }
    .buttons {
        text-align: center;
    }
}
@media (min-width: 500px) {
    .text {
        text-align:left;
        margin-left:2ch;
        float:left;
    }
    .buttons {
        text-align: right;
        margin-top:1.5ch;
        right:0ch;
    }
}
h1, h2, h3, h4, h5, h6 {
    color:white;
}
h1 {font-size:5ch; margin-top:1ch;}
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes textbounce {
    0% {
        transform:translate(0ch,0ch);
        text-shadow: 0px 0px 0px #5d2424;
    }
    30% {
        transform:translate(-0.2ch,0.2ch);
        text-shadow: 0px 0px 0px #5d2424;
    }
    100% {
        transform:translate(0ch,0ch);
        text-shadow: -0.2ch 0.2ch 0px #5d2424;
    }
}
.emphasis {
    animation: 1s ease-out 0s 1 textbounce;
    text-shadow: -0.2ch 0.2ch 0px #5d2424;
    float:inherit;
    font-size:7ch;
}
.texta {
    text-align:center;
}