@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
.top {
    position: fixed;
    width: 97%;
    color:#fafafa;
    padding: 0%;
    top: 0px;
    left: 1.5%;
    text-align: center;
    font-size: 1.6em;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height:4em;
    margin: 0 auto;
    background-color: #505050;
    border-radius: 1.5ch;
}
.roof {
    z-index:-1;
    position:relative;
    width: 95%;
    color:#fafafa;
    padding: 0%;
    top: 0px;
    left: 2.5%;
    text-align: center;
    font-size: 5em;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height:4em;
    margin: 0 auto;
    background-color: #505050;
    border-radius: 0 0 .75ch .75ch;
    background-image: url(codebkr.png)
}
.centertext {
    top: 25%;
    transform: translateY(-25%);
}
.faketop {
    position: relative;
    width: 97%;
    color:#fafafa;
    padding: 0%;
    top: 0px;
    left: 1.5%;
    text-align: center;
    font-size: 1.6em;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height:3.65em;
    margin: 0 auto;
    border-radius: 1.5ch;}
body {
    height:100%;
    background-color:#111111;
    color:#ffffff;
}
p {
    font-family: 'Baloo 2', cursive;
    font-size: 1.6em;
    text-indent: 4ch;
    margin-left: 1ch;
}
h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2ch;
    color:whitesmoke;
    text-align: center;
    font-size:3em;
}
.footer {
    position: fixed;
    bottom: 50px;
    color: #ffffff;
    width: 100%;
    height: 2ch;
    padding-left:10px;
    padding-top:10px;
    font-size:xx-large;
    font-weight:900;
    z-index:2;
    font-family: Arial, Helvetica, sans-serif;
}
.footerbg {
    background-color:#202020;
    position: fixed;
    width: 100%;
    bottom: 0px;
    font-size:xx-large;
    font-weight:900;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
    height: 5rem;
}
.fakebg {
    position: relative;
    width: 100%;
    bottom: 0px;
    font-size:xx-large;
    font-weight:900;
    z-index:1;
    font-family: Arial, Helvetica, sans-serif;
    height: 5rem;
}
img {
    width: 1.23ch;
    height:1.23ch;
}